@model IEnumerable<TaskManagementAPI.Models.tb_task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.task_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.task_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.due_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.task_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.task_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.due_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.task_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.task_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.task_id })
        </td>
    </tr>
}

</table>
